        <footer class="site-footer">
            <div class="footer-content">
                <p>&copy; {{ current_year }} <strong>https://cms.n0ip.eu</strong></p>
            </div>
        </footer>
