        <header class="full-width-header">
            <div class="header-inner-container">
{% include 'partials/header_mobile.html.twig' %}
{% include 'partials/header_desktop.html.twig' %}
            </div>
        </header>
